<header>
    <nav>
        <div class="nav-header">
            <a id="nav-toggle" href="#"><span></span></a>
            <a class="nav-brand" [routerLink]=" ['Home'] " alt="sybille-hausherr.ch"><span>S<span class="fullname"><i>y</i><i>b</i><i>i</i><i>l</i><i>l</i><i>e</i></span>.</span></a>
        </div>
        <ul>
            <li router-active><a [routerLink]=" ['Home'] ">hello</a></li>
            <li router-active><a [routerLink]=" ['Work'] ">work</a></li>
            <li router-active><a [routerLink]=" ['Stuff'] ">stuff</a></li>
            <li router-active><a [routerLink]=" ['About'] ">about</a></li>
        </ul>
    </nav>
</header>

<main>
	<router-outlet></router-outlet>
</main>

<footer>
   the footer
</footer>
