<!-- START IMAGE -->
<div class="row header">
    <div class="col-md-12" style="background-image: url(../../../assets/img/elefant/elefant-header.jpg);"></div>
    <div class="scroll"><i class="icn-scroll"></i><br>scroll</div>
</div>

<!-- INFO -->
<div class="row work-info"> 
    <div class="col-md-12">
        <h2>BEFORE WE START</h2>
        <p>"Die Sendung mit dem Elefanten" is a broadcast for 3 to 6 year old children from the german public broadcasting channel WDR.</p>
	</div>
</div>

<!-- ABOUT -->
<div class="row work-about"> 
    <div class="col-md-12 no-gap-top">
        <h1>Der Elefant.</h1>
        	<div class="col-md-5">
                <h3>TASK</h3>
                <p>Creating the complete interface design concept and mockups for an educational mobile app, strictly following the corporate identity of "the elephant" broadcast.</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <h3>STORE</h3>
                <p><a href="https://itunes.apple.com/de/app/derelefant/id1023688500?mt=8" target="_blank">App Store</a><span style="padding: 0 12px; font-weight: 700;">.</span><a href="https://play.google.com/store/apps/details?id=de.WDR.DerElefant&utm_source=android.downloadatoz.com" target="_blank">Google Play</a></p>
            </div>
            <div class="col-md-12 no-gap">
                <h3>ROLE</h3>
                <p>My role in this project was taking part for the whole UI concept and the animations.</p>
            </div>
    </div> 
</div>

<!-- FACTS -->
<div class="row work-facts">
    <div class="col-md-12">
        <div>
            <h2>FACTS</h2>
            <p>
            	UI / UX<span>.</span>
                Interaction Design<span>.</span>
                Conception<span>.</span>
                Motion Design<span>.</span>
                Wireframing.<span>.</span>
            </p>
        </div>
        <hr>
        <div>
            <h2>TOOLS</h2>
            <p>
            	Photoshop<span>.</span>
                Premiere<span>.</span>
                After Effects<span>.</span>
                Jira.<span>.</span>
            </p>
        </div>
    </div>  
</div>

<div class="row work-pictures">
    <div class="col-md-12"><img src="../../../assets/img/elefant/elefant-pictures-tablet-phone.png" alt="" /></div>
</div>

<!-- ABOUT -->
<div class="row work-about"> 
    <div class="col-md-12 no-gap-top">
    	<div class="col-md-5" style="margin-top: 1em;">
        	<i class="icn-quote"></i>
			<p style="text-indent: 50px;">Sybille is a highly passionate and creative person. It was really a pleasure to work with her. She's able to understand the complete concept of a project and therefore delivered useful inputs beyond her working field. Sybille always delivered her tasks on time, also in times of high pressure, We can highly recommend Sybille as a person and with her design skills.<br><span style="font-size: 0.8em; font-weight: bold; float: right;">Tobias Frisch</span></p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <h3>CLIENT</h3>
            <p><a href="http://www.studio-fizbin.de/" target="_blank">Studio Fizbin</a><br>Independent Games From Germany</p>
        </div>
            
            
            
    </div> 
</div>

<!-- PICTURES -->
<div class="row work-pictures">
	<div class="col-md-12 work-info">
        <p>This App is designed for 3 to 6 year old children. With the app they can discover the world of elephant and rabbit with mini games and movies.</p>
	</div>
    
	<div class="col-md-12"><img src="../../../assets/img/elefant/elefant-pictures-tablet02.png" alt="" /></div>
    <div class="col-md-12" style="padding: 6% 24%; background-color: #f57b04;"><img src="../../../assets/img/elefant/elefant-pictures-phone01.png" alt="" /></div>
    <div class="col-md-12"><img src="../../../assets/img/elefant/elefant-pictures-tablet03.png" alt="" /></div>
</div>