<!-- WELLCOME -->
<!-- START IMAGE -->
<div class="row home">
    <div class="col-md-12" style="background-image: url(../../../assets/img/steakhouse/steakhouse-header.jpg);"></div>
</div>

<!-- RECENT WORK -->
<div class="row home-recentwork">
    <div class="col-md-12 no-gap-top">
        <h1>recent work.</h1>
    </div>
    <div class="col-md-12 no-gap"><div style="background-image: url(../../../assets/img/steakhouse/steakhouse-header.jpg);"></div></div>
    <div class="col-md-6 no-gap"><div style="background-image: url(../../../assets/img/steakhouse/steakhouse-header.jpg);"></div></div>
    <div class="col-md-6 no-gap"><div style="background-image: url(../../../assets/img/steakhouse/steakhouse-header.jpg);"></div></div>
</div>

<!-- SERVICE -->
<div class="row home-service">
    <div class="col-md-12 no-gap-top">
        <h1>Services.</h1>
        <p>from my office to the world</p>
            <div class="col-md-5">
            	<span>websites</span>
                <h2>modern. responsive.</h2>
                <p>Erstellen von ansprechenden online Präsenzen für dein Business</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <span>app design</span>
                <h2>unique. popular.</h2>
                <p>Individuelles Design für deine App von Morgen</p>
            </div>
            
            <div class="col-md-5" style="clear: both;">
            	<span>animation</span>
                <h2>motion. powerful.</h2>
                <p>Erreiche deine Kunden mit bewegenden Bildern</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
            	<span>others</span>
                <h2>screens. everything.</h2>
                <p>Alles was auf einem Bildschirm dargestellt werden kann</p>
            </div>
    </div>  
</div>