<!-- WELLCOME -->
<div class="home">
    <!-- START IMAGE -->
    <div class="row home-header">
        <div class="col-md-12" style="background-image: url(../../../assets/img/home/home-header.jpg);"></div>
    </div>
    
    <!-- INFO -->
    <div class="row home-info"> 
        <div class="col-md-12 no-gap">
        	<h4>If it has a screen, i'm on it</h4>
        </div> 
    </div>
</div>

<!-- RECENT WORK -->
<div class="row home-recentwork">
    <div class="col-md-12 no-gap-top">
        <h1>recent projects.</h1>
    </div>
    <div class="col-md-12 no-gap-top">
        <div class="col-md-12 no-gap">
            <a [routerLink]=" ['Elefant'] " class="hover-titel"><span>app</span><br>Der Elefant</a>
            <div style="background-image: url(../../../assets/img/elefant/elefant-header.jpg);"></div>
        </div>
        <div class="col-md-12 no-gap">
            <a [routerLink]=" ['Steakhouse'] " class="hover-titel"><span>website</span><br>Steakhouse Frieden Illnau</a>
            <div style="background-image: url(../../../assets/img/steakhouse/steakhouse-header.jpg);"></div>
        </div>
    </div>
</div>

<!-- CONTACT -->
<div class="row service-contact">
    <div class="col-md-12">
    	<div class="col-md-12 no-gap">
            <h4>let’s be makers<br>
            let’s collaborate<br>
            let’s get creativ</h4>
        </div>
    </div> 
</div>

<!-- SERVICE -->
<div class="row home-service">
    <div class="col-md-12 no-gap-top">
        <h1>Services.</h1>
            <div class="col-md-5">
            	<span>websites</span>
                <h3>modern. responsive.</h3>
                <p>creating amazing online presence for your business.</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <span>app design</span>
                <h3>unique. popular.</h3>
                <p>custom design for your app of tomorrow.</p>
            </div>
            
            <div class="col-md-5" style="clear: both;">
            	<span>animation</span>
                <h3>motion. powerful.</h3>
                <p>reach your customer with animated images.</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
            	<span>others</span>
                <h3>screens. everything.</h3>
                <p>anything that can be displayed on a screen.</p>
            </div>
    </div>  
</div>