<!-- WELLCOME -->
<div class="home">
    <!-- START IMAGE -->
    <div class="row home-header">
        <div class="col-md-12" style="background-image: url(../../../assets/img/home/home-header.jpg);"></div>
    </div>
    
    <!-- INFO -->
    <div class="row home-info"> 
        <div class="col-md-12 no-gap">
        	<h4>If it has a screen, i'm on it.</h4>
        </div> 
    </div>
</div>

<!-- RECENT WORK -->
<div class="row home-recentwork">
    <div class="col-md-12 no-gap-top">
        <h1><!--recent -->projects.</h1>
    </div>
    <div class="col-md-12 no-gap">
    	<a [routerLink]=" ['Home'] "><div class="hover-titel"><span>app</span><br>Steakhouse Frieden Illnau</div></a>
        <div style="background-image: url(../../../assets/img/steakhouse/steakhouse-header.jpg);"></div>
    </div>
    <div class="col-md-6 no-gap" style="border-right: 1px solid rgba(78, 90, 94, 0.2);">
    	<a [routerLink]=" ['Steakhouse'] "><div class="hover-titel"><span>website</span><br>Steakhouse Frieden Illnau</div></a>
        <div style="background-image: url(../../../assets/img/steakhouse/steakhouse-header.jpg);"></div>
    </div>
    <div class="col-md-6 no-gap">
        <a [routerLink]=" ['Bayer'] "><div class="hover-titel"><span>website</span><br>Bayer Diabetes</div></a>
        <div style="background-image: url(../../../assets/img/bayer/bayer-header.jpg);"></div>
    </div>
</div>

<!-- CLIENTS -->
<div class="row home-clients">
	<div class="col-md-1"></div> 
    <div class="col-md-10">
        <h1>Clients.</h1>
        	<div class="col-md-2"><img src="../../images/stripes/about/client-01.png" style="width: 100%;"></div>
            <div class="col-md-3"></div>
            <div class="col-md-2"><img src="../../images/stripes/about/client-03.png" style="width: 100%;"></div>
            <div class="col-md-3"></div>
            <div class="col-md-2"><img src="../../images/stripes/about/client-02.png" style="width: 100%;"></div>
    </div> 
    <div class="col-md-1"></div> 
</div>