/* -------------- info -------------- */
.about-info {
	margin: 0;
}

.about-info div {
	overflow: hidden;
	height: 600px;
}

.about-info div div {
	height: 100%;
	display: block;
	background-size: cover;
	background-position: 60% 50%;
	-webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
	-webkit-transition: transform 6s ease;
    transition: transform 6s ease;
}

.about-info div div:hover {
	-webkit-filter: none;
    filter: none;
	transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
}


/* -------------- facts -------------- */
.about-facts {
    background-color: #c51e47;
	color: #fff;
	text-align: center;
	margin: 0;
}

.about-facts .col-md-12 div p {
	margin: 0;
}

.about-facts .col-md-12 div p span{
	padding: 0 12px;
	font-weight: 700;
}

/* -------------- pictures -------------- */
.about-pictures .col-md-3 {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.about-pictures div {
	overflow: hidden;
	height: 300px;
}

.about-pictures div div {
	height: 300px;
	display: block;
	background-size: cover;
	background-position: 60% 50%;
	-webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
	-webkit-transition: transform 6s ease;
    transition: transform 6s ease;
}

.about-pictures div div:hover {
	-webkit-filter: none;
    filter: none;
	transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
}

/* -------------- about -------------- */


/* -------------- contact -------------- */
.about-contact {
	color: #fff;
	background-color: #c51e47;
}

.about-contact .col-md-12 {
    text-align: center;
}

.about-contact h4 {
    margin: 0;
}

.about-contact p {
    margin: 0 0 0.5em 0;
}

.about-contact a {
	background-color: #fff;
	font-weight: 300;
	padding: 8px 0 0 0;
}

.about-contact a:hover {
    background-image: -webkit-linear-gradient(left, #333 0%, #333 50%, transparent 50%);
}

/* -------------- service -------------- */
.about-service span {
	color: #c51e47;
	font-size: 1.5em;
}
