/* -------------- steakhouse -------------- */
.work-info {
    background-color: #952022;
}

.work-about a {
	background-color: #952022;
	background-image: -webkit-linear-gradient(left, #952022 0%, #952022 50%, transparent 50%);
}

.work-facts {
    background-color: #952022;
}