$brand-service:             #0379b5;
$brand-work:            	#0379b5;

/* -------------- footer -------------- */
footer {
    background-color: #c51e47;
}

/* -------------- service -------------- */
.service .nav-header .nav-brand {
	color: $brand-service;
}

.service nav li a {
	background-image: -webkit-linear-gradient(left, $brand-service 0%, $brand-service 50%, transparent 50%);
}

.service #nav-toggle:hover span, .service #nav-toggle:hover span:before, .service #nav-toggle:hover span:after {
	background: $brand-service;
}

.service .work-info, .service .work-about a, .service .work-facts, .service footer {
    background-color: $brand-service;
}

/* -------------- work -------------- */
.work .nav-header .nav-brand {
	color: $brand-work;
}

.work nav li a {
	background-image: -webkit-linear-gradient(left, $brand-work 0%, $brand-work 50%, transparent 50%);
}

.work #nav-toggle:hover span, .work #nav-toggle:hover span:before, .work #nav-toggle:hover span:after {
	background: $brand-work;
}

.work .work-info, .work .work-about a, .work .work-facts, .work footer {
    background-color: $brand-work;
}


/* -------------- steakhouse -------------- */
.steakhouse .nav-header .nav-brand {
	color: #ad2325;
}

.steakhouse nav li a {
	background-image: -webkit-linear-gradient(left, #ad2325 0%, #ad2325 50%, transparent 50%);
}

.steakhouse #nav-toggle:hover span, .steakhouse #nav-toggle:hover span:before, .steakhouse #nav-toggle:hover span:after {
	background: #ad2325;
}

.steakhouse .work-info, .steakhouse .work-about a, .steakhouse .work-facts, .steakhouse footer {
    background-color: #952022;
}


/* -------------- bayer -------------- */
.bayer .nav-header .nav-brand {
	color: #1898ce;
}

.bayer  nav li a {
	background-image: -webkit-linear-gradient(left, #1898ce 0%, #1898ce 50%, transparent 50%);
}

.bayer #nav-toggle:hover span, .bayer #nav-toggle:hover span:before, .bayer #nav-toggle:hover span:after {
	background: #1898ce;
}

.bayer .work-info, .bayer .work-about a, .bayer .work-facts, .bayer footer {
    background-color: #1898ce;
}

/* -------------- elefant -------------- */
.elefant .nav-header .nav-brand {
	color: #f57b04;
}

.elefant  nav li a {
	background-image: -webkit-linear-gradient(left, #f57b04 0%, #f57b04 50%, transparent 50%);
}

.elefant #nav-toggle:hover span, .elefant #nav-toggle:hover span:before, .elefant #nav-toggle:hover span:after {
	background: #f57b04;
}

.elefant .work-info, .elefant .work-about a, .elefant .work-facts, .elefant footer {
    background-color: #f57b04;
}