@font-face {
   font-family: "pikanto";
   src: url("../../../assets/fonts/pikanto.eot");
   src: url("../../../assets/fonts/pikanto.eot?#iefix") format("embedded-opentype"), url("../../../assets/fonts/pikanto.woff") format("woff"), url("../../../assets/fonts/pikanto.ttf") format("truetype"), url("../../../assets/fonts/pikanto.svg#pikanto") format("svg");
   font-weight: normal;
   font-style: normal;

}

[data-icon]:before {
   font-family: "pikanto" !important;
   content: attr(data-icon);
   font-style: normal !important;
   font-weight: normal !important;
   font-variant: normal !important;
   text-transform: none !important;
   speak: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

[class^="icn-"]:before,
[class*=" icn-"]:before {
   font-family: "pikanto" !important;
   font-style: normal !important;
   font-weight: normal !important;
   font-variant: normal !important;
   text-transform: none !important;
   speak: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icn-twitter:before {
  content: "\61";
}
.icn-linkedin:before {
  content: "\62";
}
.icn-facebook:before {
  content: "\63";
}
.icn-pinterest:before {
  content: "\64";
}
.icn-quote:before {
  content: "\65";
}
.icn-scroll:before {
  content: "\66";
}

