footer {
    text-align: center;
	margin: 0 0 0 90px;
	display: block;
}

footer p {
	text-align: center;
	margin: 0 0 0.8em 0 !important;
	color: #fff;
}

footer p.icons {
	margin: 36px 0 0.8em 0 !important;
}

footer a {
	background-color: #fff;
	font-weight: 300;
	padding: 0 12px 0 12px;
	background-image: -webkit-linear-gradient(left, #a0a0a0 0%, #a0a0a0 50%, transparent 50%);
}

footer .icons a {
	font-size: 1.4em;
}

footer span {
	text-align: center;
	font-size: 1em;
	margin: 6% 0 6% 0 !important;
}
