/* -------------- header -------------- */
.home-header {
    height: 100%;
	width: 100%;
	display: block;
	margin: 0;
}

.home-header .col-md-12 {
    height: 100vh;
	width: 100%;
    background-size: cover;
    background-position: 30% 50%;
	display: block;
	position: relative;
}

/* -------------- info -------------- */
.home-info {
	color: #fff;
	background-color: #c51e47;
}

.home-info .col-md-12 {
    text-align: center;
}

.home-info h4 {
    margin: 0;
}

.home-info p {
    margin: 0 0 0.5em 0;
}

.home-info a {
	background-color: #fff;
	font-weight: 300;
	padding: 8px 0 0 0;
}

.home-info a:hover {
    background-image: -webkit-linear-gradient(left, #333 0%, #333 50%, transparent 50%);
}

/* -------------- recent work -------------- */
.home-recentwork div.no-gap {
	overflow: hidden;
	height: 300px;
	border-bottom: 1px solid rgba(78, 90, 94, 0.2);
}

.home-recentwork div.no-gap div {
	height: 400px;
	display: block;
	background-size: cover;
	background-position: 50% -20px;
}

.home-recentwork div.no-gap.col-md-12 {
	border-top: 1px solid rgba(78, 90, 94, 0.2);
	height: 550px;
}

.home-recentwork div.no-gap.col-md-12 div {
	height: 550px;
	background-position: 50% 45%;
}

.home-recentwork div.no-gap div.hover-titel {
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 3em;
    padding: 129px 0 0 48px;
	line-height: 1.2em;
	font-family: 'Oswald', sans-serif;
	color: #fff;
    margin: 0 0 1em 0;
    letter-spacing: 1px;	
	position: absolute;
	-webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
	left: -100%;
	top: 0;
}

.home-recentwork div.no-gap div.hover-titel span {
	font-size: 0.5em;
}

.home-recentwork div.col-md-12.no-gap div.hover-titel {
    padding: 378px 0 0 48px;
}

.home-recentwork div.no-gap:hover div.hover-titel {
	opacity: 1;
	left: 0;
}