<!-- START IMAGE -->
<div class="row header">
    <div class="col-md-12" style="background-image: url(../../../assets/img/proarchitektur/proarchitektur-header.jpg);"></div>
    <div class="scroll"><i class="icn-scroll"></i><br>scroll</div>
</div>

<!-- INFO -->
<div class="row work-info"> 
    <div class="col-md-12">
        <h2>BEFORE WE START</h2>
        <p>Pro. Architektur is an profesionell architecture office, based in Winterthur with many interesting projects.</p>
	</div>
</div>

<!-- ABOUT -->
<div class="row work-about">
    <div class="col-md-12 no-gap-top">
        <h1>Steakhouse Frieden Illnau.</h1>
        	<div class="col-md-5">
                <h3>TASK</h3>
                <p>Creating the complete interface design concept and mockups for an individual designed Wordpress Website.</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <h3>SITE</h3>
                <p><a href="http://www.pro-architektur.ch/" target="_blank">www.pro-architektur.ch</a></p>
            </div>
            <div class="col-md-12 no-gap">
                <h3>ROLE</h3>
                <p>I was responsible for all parts of the process - understanding the needs and requirements of the customer, building a concept, creating ui/ux design and finally the developement and deployment.</p>
            </div>
    </div>
</div>

<!-- FACTS -->
<div class="row work-facts">
    <div class="col-md-12">
        <div>
            <h2>FACTS</h2>
            <p>
            	UI / UX<span>.</span>
                Interaction Design<span>.</span>
                Conception<span>.</span>
                Responsive Design<span>.</span>
                Development<span>.</span>
                User Testing<span>.</span>
                SEO<span>.</span>
            </p>
        </div>
        <hr>
        <div>
            <h2>TOOLS</h2>
            <p>
            	Photoshop<span>.</span>
                Wordpress<span>.</span>
                Dreamweaver<span>.</span>
            </p>
        </div>
    </div>  
</div>

<div class="row work-pictures">
    <div class="col-md-12"><img src="../../../assets/img/elefant/elefant-pictures-tablet-phone.png" alt="" /></div>
</div>

<!-- ABOUT -->
<div class="row work-about"> 
    <div class="col-md-12 no-gap-top">
    	<div class="col-md-5" style="margin-top: 1em;">
        	<i class="icn-quote"></i>
			<p style="text-indent: 50px;">Sybille is a highly passionate and creative person. It was really a pleasure to work with her. She's able to understand the complete concept of a project and therefore delivered useful inputs beyond her working field. Sybille always delivered her tasks on time, also in times of high pressure, We can highly recommend Sybille as a person and with her design skills.<br><span style="font-size: 0.8em; font-weight: bold; float: right;">Tobias Frisch</span></p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <h3>CLIENT</h3>
            <p><a href="http://www.studio-fizbin.de/" target="_blank">Studio Fizbin</a><br>Independent Games From Germany</p>
        </div>
            
            
            
    </div> 
</div>

<!-- PICTURES -->
<div class="row work-pictures">
	<div class="col-md-12 work-info">
        <p>This App is designed for 3 to 6 year old children. With the app they can discover the world of elephant and rabbit with mini games and movies.</p>
	</div>
    
	<div class="col-md-12"><img src="../../../assets/img/elefant/elefant-pictures-tablet02.png" alt="" /></div>
    <div class="col-md-12" style="padding: 6% 24%; background-color: #f57b04;"><img src="../../../assets/img/elefant/elefant-pictures-phone01.png" alt="" /></div>
    <div class="col-md-12"><img src="../../../assets/img/elefant/elefant-pictures-tablet03.png" alt="" /></div>
</div>