<!-- START IMAGE -->
<div class="row header" style="margin-bottom: 12%;">
    <div class="col-md-12" style="background-image: url(../../../assets/img/service/service-header.jpg);"></div>
    <div class="scroll"><i class="icn-scroll"></i><br>scroll</div>
</div>

<!-- RECENT WORK -->
<div class="row work-recentwork">
    <div class="col-md-12 no-gap-top">
        <h1>projects.</h1>
    </div>
    <div class="col-md-12 no-gap-top">
        <div class="col-md-12 no-gap">
            <a [routerLink]=" ['Elefant'] " class="hover-titel"><span>app</span><br>Der Elefant</a>
            <div style="background-image: url(../../../assets/img/elefant/elefant-header.jpg);"></div>
        </div>
        <div class="col-md-12 no-gap">
            <a [routerLink]=" ['Proarchitektur'] " class="hover-titel"><span>website</span><br>Pro. Architektur</a>
            <div style="background-image: url(../../../assets/img/elefant/elefant-header.jpg);"></div>
        </div>
        <div class="col-md-12 no-gap">
            <a [routerLink]=" ['Steakhouse'] " class="hover-titel"><span>website</span><br>Steakhouse Frieden Illnau</a>
            <div style="background-image: url(../../../assets/img/steakhouse/steakhouse-header.jpg);"></div>
        </div>
        <div class="col-md-12  no-gap">
        <a [routerLink]=" ['Bayer'] " class="hover-titel"><span>website</span><br>Bayer Diabetes</a>
        <div style="background-image: url(../../../assets/img/bayer/bayer-header.jpg);"></div>
    </div>
    </div>
</div>

<!-- ABOUT -->
<div class="row work-others">
	<div class="col-md-12 no-gap-top">
        <h1>others.</h1>
    </div>
    <div class="col-md-12">
        <div class="col-md-7 no-gap">
            <img src="../../../assets/img/others/soundcloud.png">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h3>Soundcloud.</h3>
            <p>Because i like to explore new technologies, i studied the possibilities of the new Apple Smart Watch. I decided to choose soundcloud for a case study.</p>
        </div>
    </div>
    <div class="col-md-12">
    	<div class="col-md-7 no-gap">
            <img src="../../../assets/img/others/wildstar.png">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h3>Wildstar.</h3>
            <p>Forum signatures for the game Wildstar from Carbine.</p>
        </div>
        
    </div> 
    <div class="col-md-12">
        <div class="col-md-7 no-gap">
            <img src="../../../assets/img/others/illustration.png">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h3>Vectors.</h3>
        </div>
    </div> 
    <div class="col-md-12">
        <div class="col-md-7 no-gap">
            <img src="../../../assets/img/others/kitten.png">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h3>Kitten got Claws.</h3>
            <p>Fashion design for the band Kitten got Claws.<br><a href="http://kittengotclaws.spreadshirt.de/" target="_blank">kittengotclaws.spreadshirt.de</a></p>
        </div>
    </div> 
</div>