<!-- START IMAGE -->
<div class="row header">
    <div class="col-md-12" style="background-image: url(../../../assets/img/service/service-header.jpg);"></div>
</div>

<!-- RECENT WORK -->
<div class="row work-recentwork">
    <div class="col-md-12" style="padding: 6% 12% 0 12%;">
        <h1>projects.</h1>
    </div>
    <div class="col-md-12 no-gap-top">
        <div class="col-md-12 no-gap">
            <a [routerLink]=" ['Elefant'] " class="hover-titel"><span>app</span><br>Der Elefant</a>
            <div style="background-image: url(../../../assets/img/elefant/elefant-header.jpg);"></div>
        </div>
        <div class="col-md-12 no-gap">
            <a [routerLink]=" ['Steakhouse'] " class="hover-titel"><span>website</span><br>Steakhouse Frieden Illnau</a>
            <div style="background-image: url(../../../assets/img/steakhouse/steakhouse-header.jpg);"></div>
        </div>
        <div class="col-md-12  no-gap">
        <a [routerLink]=" ['Bayer'] " class="hover-titel"><span>website</span><br>Bayer Diabetes</a>
        <div style="background-image: url(../../../assets/img/bayer/bayer-header.jpg);"></div>
    </div>
    </div>
</div>

<!-- ABOUT -->
<div class="row work-others">
	<div class="col-md-12 no-gap-top">
        <h1>others.</h1>
    </div>
    <div class="col-md-12">
        <div class="col-md-7 no-gap">
            <img src="../../../assets/img/others/soundcloud.png">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h3>Soundcloud.</h3>
            <p>Um meinen Horizont zu erweitern, habe ich mich mit der Smart Watch von Apple auseinander gesetzt. Als Beispiel diente mir Soundcloud.</p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4">
            <h3>Wildstar.</h3>
            <p>Forum Signaturen für das Spiel Wildstar von Carbine.</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7 no-gap">
            <img src="../../../assets/img/others/wildstar.png">
        </div>
    </div> 
    <div class="col-md-12">
        <div class="col-md-7 no-gap">
            <img src="../../../assets/img/others/illustration.png">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h3>Vectors.</h3>
            <p>verschiedene Illustrationen.</p>
        </div>
    </div> 
    <div class="col-md-12">
        <div class="col-md-4">
            <h3>Kitten got Claws.</h3>
            <p>Bekleidungsdesign für die Band Kitten got Claws.<br><a href="http://kittengotclaws.spreadshirt.de/" target="_blank">kittengotclaws.spreadshirt.de</a></p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7 no-gap">
            <img src="../../../assets/img/others/kitten.png">
        </div>
    </div> 
</div>